---
layout: default
---

{% assign sorted_pages = site.pages | sort:"position" %}
{% for page in sorted_pages %}
	{% if page.title%}
		<section id="{{page.title | slugify}}" class="page">
			<header class="page-header">
				<a href="{{page.url}}" class="page-link">
	    			<h1 class="page-title">{{ page.title }}</h1>
	    		</a>
	  		</header>
	  		<div class="page-body">
	  			{{page.content | markdownify | replace: "<p", "<p><img class='pdf-icon' src='/uploads/PDF_file_icon.svg'"}}
	  		</div>
		</section>
	{% endif %}
{% endfor %}