---
layout: default
---

{% assign sorted_pages = site.pages | sort:"position" %}
{% for page in sorted_pages %}
	{% if page.title == "Flyers" %}
		<section id="{{page.title | slugify}}" class="page">
			<header class="page-header">
				<a href="#" class="page-link">
	    			<h1 class="page-title">{{ page.title }}</h1>
	    			<img class="caret" src="/uploads/Down-Arrow.svg" alt="Down Arrow">
	    		</a>
	  		</header>
	  		<div class="page-body">
	  			{{page.content | markdownify | replace: "<p", "<p><img class='pdf-icon' src='/uploads/PDF_file_icon.svg'"}}
	  		</div>
		</section>
	{% endif %}
{% endfor %}